body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #89CFF0, #FFD700);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

header{
margin-top: 50px;
margin-bottom: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;
}

legend{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: larger;
color: #1014fc;
}

#reserva{

background-color: rgb(255, 255, 255);
padding: 25px;
max-width: 450px;
border-radius: 12px;
display: flex;
margin: 0 auto;


}

select {

width: 99%;
padding: 10px;
margin-bottom: 15px;
border-color: gray;
border-radius: 6px

}

input{

width: 94%;
padding: 10px;
margin-bottom: 15px;
border-color: gray;
border-radius: 6px

}

select:focus{
border-color: dodgerblue;
}

input:focus{
border-color: dodgerblue;
}


select:hover{
background-color: rgb(176, 207, 238);
}
	
input:hover{
background-color: rgb(161, 198, 235);
}
	

button{
width: 100%;
padding: 12px;
border: none;
border-radius: 6px;
margin-bottom: 15px;
font-size: 16px;
cursor: pointer;
}


button[type="submit"]{
color: rgb(0, 0, 0);
background-color:rgb(2, 247, 2);
}

button[type="button"]{
color: rgb(240, 240, 240);
background-color: purple;
}

.error{
border: red;
background-color: #ffecec ;
}